@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 19px; }

iframe {
  padding-top: 20px; }

h4 {
  color: black;
  padding-bottom: 20px; }

input, select, textarea {
  border: 1px solid #abacab;
  border-radius: 8px; }

.secondaryButton a, .secondaryButton--news a {
  text-decoration: none;
  margin: 40px;
  padding: 10px;
  color: white;
  background-color: #0076c1;
  border: 2px solid white;
  box-shadow: -6px 4px 15px 1px rgba(0, 0, 0, 0.77); }

.secondaryButton--news a {
  font-size: 35px; }

.font-size-small {
  font-size: 15px; }

.font-size-medium {
  font-size: 20px; }

.font-size-large {
  font-size: 40px; }

.font-weight-light {
  font-weight: 300; }

.font-weight-regular {
  font-weight: 400; }

.font-weight-medium {
  font-weight: 500; }

.font-weight-semi-bold {
  font-weight: 600; }

#header .navbar {
  background-color: #161a21;
  min-height: 66px; }
  #header .navbar a {
    color: white; }
  #header .navbar span {
    background-color: #c5c546; }

@media all and (max-width: 600px) {
  #header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  #header li {
    padding-left: 20px; } }

.banner__main {
  display: flex;
  flex-direction: row;
  min-height: 350px;
  background-image: url("../media/hands.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .banner__main .banner-box__info {
    flex: 2;
    padding: 30px 60px;
    text-align: center; }
    .banner__main .banner-box__info .banner-info {
      padding: 70px; }
  .banner__main .banner-box__store {
    flex: 1;
    text-align: center;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .banner__main .banner-box__store .temporalA a {
      text-decoration: none;
      border: 1px solid white; }
    .banner__main .banner-box__store .temporalB a {
      border: 1px solid white; }

@media all and (max-width: 600px) {
  #bannermain {
    background-size: contain; } }

#news {
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #c1c3e7; }
  #news .news-box {
    display: flex;
    flex-direction: row;
    max-height: 35vh;
    border-radius: 6px;
    border: 1px solid #b8a1a1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 8px 40px;
    background-color: #ac6767; }
    #news .news-box img {
      height: 30vh;
      margin: auto; }
    #news .news-box .news-info {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center; }
      #news .news-box .news-info h2 {
        padding: 10px;
        color: black;
        font-size: 15px; }
      #news .news-box .news-info p {
        padding: 10px 15px 25px 25px;
        font-size: 10px; }
      #news .news-box .news-info .news-info__title {
        flex: 0; }
      #news .news-box .news-info .news-info__text {
        flex: 1; }
      #news .news-box .news-info .temp {
        flex: 0; }

@media all and (max-width: 600px) {
  .mainnews .mainnews__head .mainnews__text {
    display: block; }
    .mainnews .mainnews__head .mainnews__text h4 {
      padding: 12px; }
    .mainnews .mainnews__head .mainnews__text .mainnews_img img {
      height: 250px;
      width: 100%; } }

#footer {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px; }
  #footer a {
    padding: 0 15px;
    padding-bottom: 40px; }

.maincontact {
  display: flex;
  flex-direction: row;
  min-height: 400px;
  width: 100%; }
  .maincontact .contactInfo {
    background-color: #6cc3c3;
    flex: 3;
    margin: 50px;
    padding: 30px; }
    .maincontact .contactInfo .tempinfo {
      display: flex;
      flex-direction: row;
      padding-bottom: 20px; }
    .maincontact .contactInfo .tempname {
      display: flex;
      flex-direction: column;
      padding-right: 20px; }
      .maincontact .contactInfo .tempname label {
        padding-top: 5px; }
      .maincontact .contactInfo .tempname input {
        width: 350px;
        height: 30px;
        background-color: white; }
    .maincontact .contactInfo .tempemail {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; }
      .maincontact .contactInfo .tempemail input {
        width: 350px;
        height: 30px;
        background-color: white; }
      .maincontact .contactInfo .tempemail label {
        padding: 10px 0px 5px 3px; }
    .maincontact .contactInfo .tempselect {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px; }
      .maincontact .contactInfo .tempselect select {
        width: 350px;
        background-color: white; }
      .maincontact .contactInfo .tempselect label {
        padding: 13px 0px 5px 3px; }
    .maincontact .contactInfo .tempmessage {
      display: flex;
      flex-direction: column; }
      .maincontact .contactInfo .tempmessage label {
        padding: 20px 0px 5px 3px; }
      .maincontact .contactInfo .tempmessage textarea {
        width: 740px;
        height: 160px;
        background-color: white; }
    .maincontact .contactInfo .maincontact__send input {
      margin: 40px 0px 5px 3px;
      padding: 7px 15px;
      font-size: 20px;
      word-spacing: 1.5px; }
  .maincontact .contactBanner {
    background-color: #c1c3e7;
    flex: 2; }
    .maincontact .contactBanner .contactBanner-box {
      height: 70%;
      width: 80%;
      margin: 50px 0px auto;
      padding: 20px;
      background-color: #f0b0e8; }
    .maincontact .contactBanner .contactBanner-head {
      padding: 25px; }
    .maincontact .contactBanner .contactBanner-info {
      padding-left: 25px; }
      .maincontact .contactBanner .contactBanner-info label {
        font-size: 14px; }
      .maincontact .contactBanner .contactBanner-info .tempbanner .tempaddress p {
        margin-bottom: 0; }

#volunteer {
  min-height: 400px;
  background-color: #c1c3e7; }
  #volunteer h2 {
    color: #1a0b0b;
    text-align: center;
    padding: 20px; }
  #volunteer .volunteerDetails {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    min-height: 30vh;
    padding-bottom: 20px; }
    #volunteer .volunteerDetails .cardVolunteer {
      padding: 8px; }
    #volunteer .volunteerDetails img {
      height: 70px;
      margin: 32px 0; }
    #volunteer .volunteerDetails p {
      padding: 15px; }
  #volunteer .volunteerButton {
    text-align: center; }

@media all and (max-width: 600px) {
  #volunteer .volunteerDetails {
    display: block; } }
