#accolades{
    background-color: white;
    h2{
        color: rgb(26, 11, 11);
        text-align: center;
        padding: 20px;
    }
    .accolades-info{
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
        text-align: center;
        width: 50%;
        margin-left: 25%;
        min-height: 30vh;
        padding: 5px 20px; 
        .accolades-card{
            padding: 8px;
            width: 50%;
            img{
                margin: 5px;
            }
            p{
            padding: 8px;
            margin: 0;
            } 
         } 
    }
} 

//MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #accolades{
        .accolades-info{
            margin: 0;
            width: 100%;

        }
    }
}
