.banner__main{
	margin-bottom: 25px;
	display: flex;
    flex-direction: row;
	min-height: 350px;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  	),
	   url("../media/hands.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
		.banner-box__store{
			text-align: center;	
			padding: 80px 20%;
			
			p{
				color: white;
			}
			.banner-info{
				font-size: 25px;
				p{
					margin: 10px 5px 20px 5px;
					padding: 0px 20px 20px 20px;
				}
			}
			.banner-box-cta{
				display: flex;
				flex-direction: row;
				align-items: center;
    			justify-content: space-evenly;
				margin-top: 30px;
				}
		}
	}

// MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.banner__main{
		.banner-box__store{
			padding: 5px 10px 15px 10px;
			.banner-info{
				img{
					margin: 25px;
				}
			}
			.banner-box-cta{
				img{
					width: 75%;
				}
			}
		}
	}
}