.banner__main{
	min-height: 350px;
	background-image: url("../media/hands.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
		.banner__store{
			text-align: center;
			padding-top: 250px;
			// a{
			// 	text-decoration: none;
			// }
		}
}

//MEDIA QUERY SECTION

@media all and (max-width: 600px) {
	#bannermain{
		background-size: contain;
	}
}