.maincontact{
	display: flex;
	flex-direction: row;
	min-height: 400px;
	p{
		margin-left: 50px;
		margin-top: 10px;
	}
	label{
		margin-bottom: 0;
	}
	.contactInfo{
		background-color: #6cc3c3;
		flex: 3;
		margin: 10px 50px;
		padding: 30px;
		width: 75%;
		.tempinfo{
			display: flex;
			flex-direction: row;
			padding-bottom: 10px;
		}
		.tempname{
			display: flex;
			flex-direction: column;
			padding-right: 20px;
			label{
				padding-top: 5px;
			}
			input{
				width: 350px;
				height: 30px;
				background-color: rgb(255, 255, 255);
			}
		}
		.tempemail{
			display: flex;
			flex-direction: column;
			padding-right: 20px;
			input{
				width: 350px;
				height: 30px;
				background-color: rgb(255, 255, 255);
			}
			label{
				padding: 10px 0px 5px 3px;
			}
		}
		.tempselect{
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			select{
				width: 350px;
				background-color: rgb(255, 255, 255);
    			height: 30px;
			}
			label{
				padding-top: 5px;
			}
		}
		.tempmessage{
			display: flex;
			flex-direction: column;
			label{
				padding: 10px 0px 5px 3px;
			}
			textarea{
				width: 740px;
				height: 160px;
				background-color: rgb(255, 255, 255);
			}
		}
		.maincontact__send{
			input{
			margin: 40px 0px 5px 3px;
			padding: 7px 15px;
			font-size: 20px;
			word-spacing: 1.5px;
			}
		}
	}	
	.contactBanner{
		background-color: $bgColor;
		flex: 2;
		margin: 10px 0px;
		.contactBanner-box{
			height: 90%;
			width: 80%;
			padding: 20px;
			background-color: #f0b0e8;
		}
			.contactBanner-head{
				padding: 25px;
			}
			.contactBanner-info{
				padding-left: 25px;
				label{
					font-size: 14px;
				}
				.tempbanner{
					.tempaddress{
						p{
							margin-bottom: 0;
						}	
					}
				}
			}
	}
}


// .maincontact{
// 	text-align: center;
// 	padding-top: 20px;
// 	.focus textarea{
// 		width: 300px; 
// 		height: 200px;
// 		transition: all 2s;
// 	}
// 	.focus textarea:focus{
// 		width: 800px;
// 		height: 400px;
// 		font-size: 23px;
// 	}
	
// 	}
	// .maincontact__send--animated{		
	// 	input:hover{
	// 		height: 50px;
	// 		width: 100px;
	// 		transition: all 0.5s linear;
	// 		background: linear-gradient(to right, white, blue);
	// 		color: black;
	// 	}
	// }
// }