#contact{
	display: flex;
	flex-direction: row;
	min-height: 400px;
	font-family: 'Montserrat', sans-serif;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 80px;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.5),
		rgba(0, 0, 0, 0.5)
	  	),
		url("../media/integration.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: rgba(255, 255, 255, 0.753);
	.contact-container{
		display: flex;
		flex-direction: row;
		.contactBanner{
			flex: 1;
			margin: 10px 0px;
			.contactBanner-box{
				text-align: center;
				width: 80%;
				padding: 20px;
				.contactBanner-head{
					padding: 25px;
					h2{
						font-size: 40px;
					}
				}
				.contactBanner-info{
					padding-left: 25px;
						}
					}
				}
			}
		}