.tempvolunteer{
	font-size: 30px;
	margin: 30px 70px 7px 70px;
	padding: 0px 90px;
}
#contact{
	display: flex;
	flex-direction: row;
	min-height: 400px;
	font-family: 'Montserrat', sans-serif;
	p{
		margin-left: 50px;
		margin-top: 10px;
	}
	label{
		margin-bottom: 0;
	}
	.contactInfo{
		flex: 3;
		margin: 0px 70px;
		padding: 0px 90px;
		width: 75%;
		span{
			color:#790000;
			margin-left: 4px;
		}
		input{
			background-color: rgba(0,0,0,0.04);
			border-radius: 4px;
			border: 2px solid rgba(0,0,0,0);
		}
		.contact-labels{
			margin: 20px 0px 6px 0px;
			font-weight: 500;
		}
		.tempinfo{
			display: flex;
			flex-direction: row;
			.temptemp{
				flex: 1;
			}
		}
		.tempname{
			display: flex;
			flex-direction: column;
			padding-right: 16px;
			flex: 1;
			label{
			margin: 1px 0 9px 1px;
			}
			}
		.tempemail{
			display: flex;
			flex-direction: column;
			padding-right: 20px;
			flex: 1;
			}
		.tempselect{
			display: flex;
			flex-direction: column;
			flex: 1;
		}
		.tempmessage{
			display: flex;
			flex-direction: column;
			}
		.maincontact__send{
			input{
			margin: 40px 0px 5px 3px;
			padding: 7px 15px;
			font-size: 20px;
			word-spacing: 1.5px;
			}
		}
	}	
	.contactBanner{
		background-color: $bgColor;
		flex: 2;
		margin: 10px 0px;
		.contactBanner-box{
			height: 90%;
			width: 80%;
			padding: 20px;
			background-color: #f0b0e8;
		}
			.contactBanner-head{
				padding: 25px;
			}
			.contactBanner-info{
				padding-left: 25px;
				label{
					font-size: 14px;
				}
				.tempbanner{
					.tempaddress{
						p{
							margin-bottom: 0;
						}	
					}
				}
			}
	}
}

