#footer{
	background-color: $primaryColor;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
    align-items: center;
    height: 6vw;
	.footer-social{
		margin: 3px;
		padding: 5px;
		a{
			padding: 0px 10px;
		}
	}
	.footer-info{
		margin: 3px;
		padding: 5px;
		color: white;
	}
}