#footer{
	background-color: $primaryColor;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
    align-items: center;
    height: 6vw;
	.footer-social{
		margin: 3px;
		padding: 5px;
		a{
			padding: 0px 10px;
		}
	}
	.footer-info{
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 3px;
		padding: 5px;
		color: white;
		h4{
			margin: 0px 4px;
			font-size: 16px;
		}
		a{
			text-decoration: none;
			color: white;
		}
	}
}

// MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	#footer{
		min-height: 34vw;
		.footer-info{
			flex-direction: column;
		}
	}
  }
