#footer{
	display: flex;
	flex-direction: column;
	text-align: center;
	min-height: 120px;
	// background-color: $primaryColor;
	.footer-social{
		margin: 5px;
		padding: 5px;
		a{
			padding: 0px 10px;
		}
	}
	.footer-info{
		margin: 5px;
		padding: 5px;
	}
}