// IMPORT SECTION
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

//VARIABLES

$primaryColor: #161a21;
$secondaryColor: rgb(179, 164, 58);
$buttonPrimaryColor: #3638bc;

//GENERAL

*{
	margin: 0;
	padding: 0;
}

input, select, textarea{
	border: 1px solid rgb(171, 172, 171);
	border-radius: 8px;
}
.secondaryButton{
		a{
		text-decoration: none;
		padding: 20px;
		background-color: $buttonPrimaryColor;
		border-radius: 10px;
		color: white;
		font-size: 20px;
		box-shadow: -6px 4px 10px 1px rgba(0,0,0,0.43);
		}
	}
$textsize: (
	"small": 13px,
	"medium": 20px,
	"large": 30px,
	"extra-large": 40px
);
@each $r, $v in $textsize{
	.font-size-#{$r}{
		font-size: $v;
	}
}
$textweight: (
	"regular": 400,
	"regular italic": 400,
	"medium": 500,
	"semi-bold": 600,
	"bold": 700
);
@each $s, $v in $textweight{
	.font-weight-#{$s}{
		font-weight: $v;
	}
}
.main-info{	
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    margin: 5px;
    padding: 20px;
	.main-info__title{
		flex: 1;
		margin: 5px;
		padding: 5px;
		display: flex;
		align-items: center;
		img{
			margin: 16px;
		}
	}
	.main-info__text{
		flex: 1;
		display: flex;
		align-items: center;
		text-align: center;
		font-size: 20px;
		p{
			padding: 20px 11%;
		}
	}
}	

// MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	#header{
		span{
			background-image: url("../media/menu.png");
		}
		ul{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			li{
				padding-left: 20px;
			}
		}
	}
}