#us{
    iframe{
        padding: 0;
    }
}
.main-review{
    display: flex;
    flex-direction: column;
    min-height: 350px;
    align-self: center;
    padding-top: 15px;
    background-color: $colorYellow;
    .main-review__head{
        padding: 5px 20px;
        text-align: center;
        h2{
            padding: 10px;
        }
    }
    .review-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
        min-height: 500px;
        padding: 5px 30px;
        margin: 10px 20px;
        width: 90%;
        .review-insidebox{
            display: flex;
            flex-direction: column;
            padding: 10px;
            align-items: center;
            justify-content: center;
            text-align: center;
            .review-box__head{
                flex: 1;
                .review-box__img{
                       img{
                           border-radius: 90px;
                           padding: 3px;
                       }
                   }
                .review-box__title{
                    p{
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                }
            }
            .review-box__info{
                flex: 1;
                padding: 10px 10px;
            }
        }
        
    }
}

//MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
      .main-review{
          .review-box{
              display: flex;
              flex-direction: column;
          }
      }
    }