#news{
	padding-top: 50px;
	padding-left: 70px;
	padding-right: 70px;
	background-color: $bgColor;
	.news-box{
		display: flex;
		flex-direction: row;
		max-height: 35vh;
		border-radius: 6px;
		border: 1px solid rgb(184, 161, 161);
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10px;
		padding: 8px 40px;
		background-color: rgb(172, 103, 103);
		img{
			height: 30vh;
			margin: auto;
		}
		.news-info{
			display: flex;
			flex-direction: column;
			width: 100%;
			text-align: center;
			h2{
				padding: 10px;
				color: black;
				font-size: 15px;
			}
			p{
				padding: 10px 15px 25px 25px;
				font-size: 10px;
			}
				.news-info__title{
					flex: 0
				}
				.news-info__text{
					flex: 1;
				}
				.temp{
					flex: 0;
				}
		}
	}
}


//MEDIA QUERY SECTION

@media all and (max-width: 600px) {
	.mainnews{
		.mainnews__head{
			.mainnews__text{
				display: block;
				h4{
					padding: 12px;
				}
				.mainnews_img{
					img{
					height: 250px;
    				width: 100%;
					}
				}
			}
		}
	}
}