#news{
	.news-box{
		display: flex;
		flex-direction: row;
		min-height: 16vw;
		border: 2px solid transparent;
		border-radius: 8px;
		background-color: #f1f17b;
		margin: 10px 20px;
		padding: 8px 40px;
		img{
			height: 35vh;
			margin: auto;
		}
		.news-info{
			display: flex;
			flex-direction: column;
			width: 50vw;
			text-align: center;
			h2{
				padding: 10px;
				font-size: 25px;
			}
			p{
				padding: 10px 15px 0px 25px;
				margin: 0;
				font-size: 18px;

			}
				.news-info__title{
					flex: 0
				}
				.news-info__text{
					flex: 1;
				}
				.temp{
					flex: 0;
				}
		}
		.news-expand-box{
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			align-self: center;
			width: 24vw;
			p{
				margin-bottom: 5px;
				font-size: 18px;
			}
			.news-expand__info{
				flex: 1;
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				border-radius: 8px;
				height: 140px;
				width: 220px;
				margin-bottom: 45px;
				font-weight: 500;
				
			}
			.news-button{
				flex: 1;
			}
		}
	}
}


//MEDIA QUERY SECTION

@media all 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	#news{
		.news-box{
			display: flex;
			flex-direction: column;
			margin: 0px;
    		padding: 0px;
			border-radius: 0px;
			img{
				height: 37vh;
				margin-top: 5px;
			}
			.news-info{
				width: 100%;
				margin: 5px 0px 20px 0px;
				.news-info__title, .news-info__text{
					width: 100%;
				}
			}
			.news-expand-box{
				display: flex;
				flex-direction: column;
				margin: 10px 0px 0px 0px;
				span{
					font-size: 22px;
				}
				.news-expand__info{
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
					margin: 0px 0px 35px 0px;
					width: 84vw;
					p{
						padding: 0px 7px;
					}
				}
				.news-button{
					width: 85vw;
					margin-bottom: 30px;
					a{
						padding: 10px 8px;
					}
				}
			}
		}
	}
}